.weather-box {
  background-color: grey;
  padding: 10px;
  color: white;
  height: 250px;
  .city {
    -webkit-animation-name: show;
    -webkit-animation-duration: .7s;
    animation-name: show;
    animation-duration: .7s;
  }
  .weather-info {
    display: inline-flex;
    -webkit-animation-name: show;
    -webkit-animation-duration: .7s;
    animation-name: show;
    animation-duration: .7s;
    .place-icon {
      margin: 0 auto 50px;
      height: 100px;
      width: 100px;
      img {
        height: 100%;
        width: 100%;
        padding: 15px;
        margin-left: -15px;
        background: white;
        border-radius: 99px;
        color: black;
        box-shadow: 5px 10px;
      }
    }
    .place-info {
      margin-left: 45px;
    }
  }
}

@-webkit-keyframes show {
  0%   {opacity: 0;}
  100% {opacity: 1}
}
@keyframes rotate {
  0%   {opacity: 0;}
  100% {opacity: 1}
}
